# API
APP_ENVIRONMENT=development
APP_API_HOST=0.0.0.0
APP_API_PORT=8000
APP_CORS_ORIGINS=*
APP_DATABASE_URL=sqlite:///./lysergic.db
APP_LOG_LEVEL=INFO

# Web
NEXT_PUBLIC_API_URL=http://localhost:8000
